# Virtual environment folder
venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and output folders
logs/
scraped_data/
backups/

# OS files
.DS_Store
Thumbs.db
